<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Odoo</title>
    <link type="image/x-icon" rel="shortcut icon" href="static/img/favicon.ico" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
    <link rel="icon" href="{{ url_for('static', filename='icon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script id="web.layout.odooscript" type="text/javascript">
        var odoo = {
            csrf_token: "3b7a741b17f3e9b5397fff0385846cb00869fe1eo1738727519",
            debug: "1",
        };
    </script>

    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

    <meta name="theme-color" content="#875A7B" />
    <link rel="icon" sizes="192x192" href="static/img/mobile-icons/android-192x192.png" />


    <meta name="apple-mob<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.4.2/css/fontawesome.min.css" integrity="sha384-BY+fdrpOd3gfeRvTSMT+VUZmA728cfF9Z2G42xpaRkUGu2i3DyzpTURDo5A6CaLK" crossorigin="anonymous">
    
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link rel="apple-touch-icon" href="static/img/mobile-icons/apple-152x152.png" />


    <meta name="msapplication-navbutton-color" content="#875A7B" />
    <meta name="msapplication-TileColor" content="#875A7B" />
    <meta name="msapplication-TileImage" content="static/img/mobile-icons/windows-144x144.png" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <link type="text/css" rel="stylesheet" href="/static/web.assets_common.min.csws"
        data-asset-bundle="web.assets_common" data-asset-version="a2b4c9e" />
    <link type="text/css" rel="stylesheet" href="/static/web.assets_backend.min.css"
        data-asset-bundle="web.assets_backend" data-asset-version="f18f955" />

  
<style>
    .loading-container {
  position: fixed;
  top: 20;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  display: none;
}

.loading {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
</style>
</head>
<nav class="o_main_navbar" data-command-category="navbar">
    <div class="o-dropdown dropdown o_navbar_apps_menu o-dropdown--no-caret">
        <button class="dropdown-toggle" title="Home Menu" data-hotkey="h" tabindex="0" aria-expanded="false">
            <i class="oi oi-apps"></i></button>
    </div><a class="dropdown-item o_menu_brand d-none d-md-block" role="menuitem" tabindex="0"
        href="#menu_id=332&amp;action=518" data-menu-xmlid="stock.menu_stock_root" data-section="332">Inventory</a>
    {{menu|safe}}
 </div>

    <div class="o_menu_systray d-flex flex-shrink-0 ms-auto" role="menu">
        <div></div>
        <div class="o-dropdown dropdown o_debug_manager o-dropdown--no-caret"><button
                class="dropdown-toggle o-dropdown--narrow" tabindex="0" aria-expanded="false"><i class="fa fa-bug"
                    role="img" aria-label="Open developer tools"></i></button></div>
        <div></div>
        <div class="CallSystrayMenuContainer">
            <div class="o_CallSystrayMenu dropdown">
                <div class="o_CallInviteRequestPopupList position-absolute top-0 end-0 d-flex flex-column p-2"></div>
            </div>
        </div>
        <div></div>
        <div class="MessagingMenuContainer">
            <div class="o_MessagingMenu dropdown"><a
                    class="o_MessagingMenu_toggler dropdown-toggle o-no-caret o-dropdown--narrow o-no-notification"
                    href="#" title="Conversations" role="button" aria-haspopup="true" aria-expanded="false"><i
                        class="o_MessagingMenu_icon fa fa-lg fa-comments" role="img" aria-label="Messages"></i></a>
            </div>
        </div>
        <div></div>
        <div class="o_ActivityMenuView dropdown"><a
                class="o_ActivityMenuView_dropdownToggle dropdown-toggle o-no-caret o-dropdown--narrow"
                title="Activities" href="#" role="button" aria-expanded="false"><i class="fa fa-lg fa-clock"
                    role="img" aria-label="Activities"></i> </a></div>
        <div></div>
        <div><button class="o_mobile_menu_toggle o-no-caret d-md-none border-0" title="Toggle menu"
                aria-label="Toggle menu"><i class="oi oi-panel-right"></i></button></div>
        <div></div>
        <div class="o-dropdown dropdown o_user_menu d-none d-md-block pe-0 o-dropdown--no-caret"><button
                class="dropdown-toggle py-1 py-lg-0" tabindex="0" aria-expanded="false"><img
                    class="rounded-circle o_user_avatar h-75 py-1" alt="User"
                    src="image/res.users/avatar_128/2"><span
                    class="oe_topbar_name d-none d-lg-block ms-1 text-truncate">Administrator (DEMO)</span></button>
        </div>
    </div>
</nav>

<body class="o_content">
    
 
    
    <main style="padding: 20px;">
        <div class="loading-container" id="loadingContainer" style="display: none;">
    <div class="loading"></div>
    </div>
        {{isi|safe}}
        {% block content %}
            block content
        {% endblock %}
    </main>
</body>

</html>